@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}
/* ----------------------------------- */
/* コンテナ
/* ----------------------------------- */
.container {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px; }
  @media print, screen and (min-width: 767px) {
    .container {
      max-width: 750px;
      width: 100%;
      transition: ease-in .1s; } }
  @media print, screen and (min-width: 992px) {
    .container {
      max-width: 970px;
      transition: ease-in .1s; } }

@media print, screen and (min-width: 767px) {
  .outsidePadding {
    padding-left: 15px;
    padding-right: 15px; } }
@media print, screen and (min-width: 992px) {
  .outsidePadding {
    padding-left: 45px;
    padding-right: 45px; } }

/* ----------------------------------- */
/* ボタン */
/* ----------------------------------- */
.btnWrap {
  margin: 0; }

.btn2Wrap {
  display: grid;
  justify-items: center;
  gap: 20px 50px; }
  @media print, screen and (min-width: 1200px) {
    .btn2Wrap {
      display: flex;
      justify-content: center; } }

.btn {
  clear: both;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  height: 60px;
  font-size: 14px;
  line-height: 1.5;
  font-weight: 500;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  text-decoration: none;
  transition: none;
  user-select: none;
  position: relative;
  border-radius: 40px;
  color: #fff;
  background: #F2820B;
  border: 2px solid #F2820B;
  max-width: 240px;
  z-index: 0;
  transition: all ease .3s;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  padding: 0 26px; }
  .btn.color2 {
    background: #333;
    border: 2px solid #333; }
  .btn.color3 {
    color: #333;
    background: #fff;
    border: 2px solid #fff; }
  .btn.arrow::before, .btn.arrow::after {
    content: '';
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%) rotate(45deg);
    transform: translateY(-50%) rotate(45deg); }
  .btn.arrow::before {
    width: 30px;
    height: 30px;
    border: 2px solid;
    border-radius: 40px;
    right: 16px; }
  .btn.arrow:after {
    width: 7px;
    height: 7px;
    border-top: solid 2px;
    border-right: solid 2px;
    right: 29px; }
  .btn.short {
    max-width: 200px; }
  .btn.btnLeft, .btn.btnRight, .btn.btnCenter {
    margin: 0 auto; }
  @media print, screen and (min-width: 768px) {
    .btn:hover, .btn:focus {
      text-decoration: none;
      background: #fff;
      color: #F2820B; }
      .btn:hover:before, .btn:focus:before {
        opacity: 1; }
    .btn.color2:hover, .btn.color2:focus {
      color: #333; }
    .btn.color3:hover, .btn.color3:focus {
      background: #333;
      color: #fff; }
    .btn.btnLeft {
      margin: 0; }
    .btn.btnRight {
      margin: 0 auto 0 0; }
    .btn.btnCenter {
      margin-left: auto;
      margin-right: auto; } }