.header {
  background: #333;
  width: 100%;
  overflow: hidden;
  padding: 0 30px;
  transition: ease-in .1s;
}
.header.fixed {
  position: fixed;
  top: 0;
  z-index: 10;
}
.headerCnt {
  height: 90px;
  display: flex;
  align-items: center;
  width: 100%;
}
.logo {
  margin: 0;
}
.logo img {
  width: 155px;
  height: auto;
}
@media screen and (max-width: 767px) {
  .header {
    padding: 0 15px;
  }
  .headerCnt {
    height: 60px;
  }
  .logo img {
    width: 125px;
  }
}